@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");

body {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
}
main {
    width: min(300ch, 100% - 4rem);
    margin-inline: auto;
}
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

header {
    width: 100%;
}
.none{
    display: none;
}
#wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.header__nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-bottom: 2px solid #000;
    width: 100%;
    left: 0;
    top: 0;
    height: 5rem;
    padding: 0 4rem;
    z-index: 10;
}
.link {
    cursor: pointer;
    background: transparent;
    transition: 0.05s;
    font-size: 1.5rem;
    color: #000;
    background: transparent;
    border: 2px solid #000;
    padding: 0.5rem 1rem;
    &:hover {
        transform: translate(4px, 4px);
        box-shadow: -4px -4px #000;
    }
}
.nav__list {
    display: flex;
    gap: 1rem;
}
.hamburger__menu {
    display: none;
}
// Title & descr align center ----
.center {
    text-align: center;
    margin: 0 auto;
    max-width: 31.25rem;
}

.header__title {
    padding-top: 5rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.25rem;
    color: #000;
}
.title {
    color: #000;
    font-size: 3rem;
}
.descr {
    font-size: 1.8rem;
    color: #000;
}
.subtitle {
    font-size: 2rem;
    color: #000;
    margin-bottom: 1.25rem;
}
// About ----
#about {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
.about {
    .title {
        margin-bottom: 1.5rem;
    }
    .descr {
        margin-bottom: 1.5rem;
    }
}
img {
    max-width: 350px;
    width: 100%;
    height: 100%;
}
.flex {
    text-align: left;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}
.about-text {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    & > * {
        flex: 1 1 17em;
    }
    .subtitle {
        line-height: 1.1;
        text-align: center;
    }
}
.about-flex p.descr {
    text-align: center;
}
.subtitle-flex {
    flex-direction: column;
    text-align: center;
}
// Skills
.skills {
    height: 100vh;
    padding-top: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
        margin-bottom: 1.5rem;
    }
    .descr {
        margin-bottom: 1.5rem;
    }
}
.skills-flex {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;
}
.front,
.designer {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    width: 100%;
}
.pr-bar__html,
.pr-bar__css,
.pr-bar__react,
.pr-bar__figma,
.pr-bar__photoshop {
    width: 100%;
    .descr {
        float: right;
    }
    .progressbar {
        height: 10px;
        position: relative;
        background: #fff;
        border: 1px solid #000;
    }
    .progressbar > span {
        display: block;
        height: 100%;
        width: 80%;
        background-color: #000;
        position: relative;
        overflow: hidden;
    }
}
.pr-bar__react {
    .progressbar > span {
        width: 50%;
    }
}
.pr-bar__css {
    .progressbar > span {
        width: 85%;
    }
}
.pr-bar__figma {
    .progressbar > span {
        width: 80%;
    }
}
.pr-bar__photoshop {
    .progressbar > span {
        width: 60%;
    }
}
// portfolio

.portfolio {
    padding-top: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title,
    .descr {
        margin-bottom: 1.5rem;
    }

    .portfolio__gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 1rem;
        width: 100%;
    }
    .project {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        background: #777;
        &__britlex {
            background: url("https://images.unsplash.com/photo-1503676382389-4809596d5290?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        &__perfume {
            background: url("https://images.unsplash.com/photo-1590736704728-f4730bb30770?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=474&q=80");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        &__dragndrop {
            background: url("https://images.unsplash.com/photo-1494797262163-102fae527c62?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDh8fGhvbGQlMjBvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &__kea {
            background: url("https://images.unsplash.com/photo-1552404200-b22566b2317b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fG1pbGt8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        a {
            cursor: pointer;
            background: transparent;
            transition: 0.05s;
            font-size: 3rem;
            color: #000;
            background: #fff;
            border: 2px solid #000;
            padding: 0.5rem 1rem;
            &:hover {
                transform: translate(4px, 4px);
                box-shadow: -4px -4px #000;
            }
        }
    }
}
// contact me
#contact {
    padding-top: 5rem;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title,
.descr {
    margin-bottom: 1.5rem;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    gap: 20px;
    .contact-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .send {
        cursor: pointer;
        background: transparent;
        transition: 0.05s;
        font-size: 1.5rem;
        color: #000;
        background: transparent;
        border: 2px solid #000;
        padding: 0.5rem 1rem;
        &:hover {
            transform: translate(4px, 4px);
            box-shadow: -4px -4px #000;
        }
    }
    label {
        padding: 0 1rem;
        display: flex;
        font-size: 2rem;
        background: #000;
        color: #fff;
        min-width: 260px;
        height: 45px;
        align-items: center;
    }
    input {
        height: 45px;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        background: #fff;
        color: #000;
        width: 100%;
        border: 2px solid #000;
    }
}

// footer ----
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    background: #000;
    height: 30vh;
    max-width: 100vw;
    padding: 0 8vw;
    .title,
    .descr {
        margin-bottom: 1.5rem;
        color: #fff;
    }
}
.social-links {
    text-align: center;
    display: flex;
    flex-direction: column;
    .links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        a {
            cursor: pointer;
            background: transparent;
            transition: 0.05s;
            font-size: 1.5rem;
            color: #fff;
            background: transparent;
            border: 2px solid #fff;
            padding: 0.5rem 1rem;
            &:hover {
                transform: translate(4px, 4px);
                box-shadow: -4px -4px #fff;
            }
        }
    }
}
