@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
body {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
header {
  width: 100%;
}

#wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header__nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 2px solid #000;
  width: 100%;
  left: 0;
  top: 0;
  padding: 1.25rem 6.25rem;
  z-index: 10;
}

.link {
  cursor: pointer;
  background: transparent;
  transition: 0.05s;
  font-size: 1.5rem;
  color: #000;
  background: transparent;
  border: 2px solid #000;
  padding: 0.5rem 1rem;
}
.link:hover {
  transform: translate(4px, 4px);
  box-shadow: -4px -4px #000;
}

.nav__list {
  display: flex;
  gap: 1rem;
}

.hamburger__menu {
  display: none;
}

.center {
  text-align: center;
  margin: 0 auto;
  max-width: 31.25rem;
}

.header__title {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 1.5rem;
  gap: 1.25rem;
  color: #000;
}

.title {
  color: #000;
  font-size: 3rem;
}

.descr {
  font-size: 1.8rem;
  color: #000;
}

.subtitle {
  font-size: 2rem;
  color: #000;
  margin-bottom: 1.25rem;
}

#about {
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about .title {
  margin-bottom: 1.5rem;
}
.about .descr {
  margin-bottom: 1.5rem;
}

img {
  max-width: 350px;
  width: 100%;
  height: 100%;
}

.flex {
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  gap: 8vw;
}

.about-text {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.about-text > * {
  flex: 1 1 17em;
}
.about-text .subtitle {
  line-height: 1.1;
  text-align: center;
}

.about-flex p.descr {
  text-align: center;
}

.subtitle-flex {
  flex-direction: column;
  text-align: center;
}

.skills {
  padding: 0 5vw;
}
.skills .title {
  margin-bottom: 1.5rem;
}
.skills .descr {
  margin-bottom: 1.5rem;
}

.skills-flex {
  display: flex;
  justify-content: center;
  gap: 8vw;
  width: 100%;
}

.front,
.designer {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;
}

.pr-bar__html,
.pr-bar__css,
.pr-bar__react,
.pr-bar__figma,
.pr-bar__photoshop {
  width: 100%;
}
.pr-bar__html .descr,
.pr-bar__css .descr,
.pr-bar__react .descr,
.pr-bar__figma .descr,
.pr-bar__photoshop .descr {
  float: right;
}
.pr-bar__html .progressbar,
.pr-bar__css .progressbar,
.pr-bar__react .progressbar,
.pr-bar__figma .progressbar,
.pr-bar__photoshop .progressbar {
  height: 10px;
  position: relative;
  background: #fff;
  border: 1px solid #000;
}
.pr-bar__html .progressbar > span,
.pr-bar__css .progressbar > span,
.pr-bar__react .progressbar > span,
.pr-bar__figma .progressbar > span,
.pr-bar__photoshop .progressbar > span {
  display: block;
  height: 100%;
  width: 80%;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.pr-bar__react .progressbar > span {
  width: 50%;
}

.pr-bar__css .progressbar > span {
  width: 70%;
}

.pr-bar__figma .progressbar > span {
  width: 80%;
}

.pr-bar__photoshop .progressbar > span {
  width: 60%;
}

.portfolio .title,
.portfolio .descr {
  margin-bottom: 1.5rem;
}
.portfolio .portfolio__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}
.portfolio .project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 200px;
  background: #777;
}
.portfolio .project__britlex {
  background: url("https://images.unsplash.com/photo-1503676382389-4809596d5290?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.portfolio .project__perfume {
  background: url("https://images.unsplash.com/photo-1590736704728-f4730bb30770?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=474&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.portfolio .project__dragndrop {
  background: url("https://images.unsplash.com/photo-1494797262163-102fae527c62?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDh8fGhvbGQlMjBvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.portfolio .project__kea {
  background: url("https://images.unsplash.com/photo-1552404200-b22566b2317b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fG1pbGt8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.portfolio .project a {
  cursor: pointer;
  background: transparent;
  transition: 0.05s;
  font-size: 3rem;
  color: #000;
  background: #fff;
  border: 2px solid #000;
  padding: 0.5rem 1rem;
}
.portfolio .project a:hover {
  transform: translate(4px, 4px);
  box-shadow: -4px -4px #000;
}

.title,
.descr {
  margin-bottom: 1.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 700px;
  width: 100%;
  gap: 20px;
}
.contact-form .contact-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.contact-form .send {
  cursor: pointer;
  background: transparent;
  transition: 0.05s;
  font-size: 1.5rem;
  color: #000;
  background: transparent;
  border: 2px solid #000;
  padding: 0.5rem 1rem;
}
.contact-form .send:hover {
  transform: translate(4px, 4px);
  box-shadow: -4px -4px #000;
}
.contact-form label {
  padding: 0 1rem;
  display: flex;
  font-size: 2rem;
  background: #000;
  color: #fff;
  height: 100%;
  min-width: 260px;
  align-items: center;
}
.contact-form input {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  width: 100%;
  border: 2px solid #000;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  background: #000;
  height: 30vh;
  max-width: 100%;
  padding: 0 8vw;
}
.footer .title,
.footer .descr {
  margin-bottom: 1.5rem;
  color: #fff;
}

.social-links {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.social-links .links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.social-links .links a {
  cursor: pointer;
  background: transparent;
  transition: 0.05s;
  font-size: 1.5rem;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  padding: 0.5rem 1rem;
}
.social-links .links a:hover {
  transform: translate(4px, 4px);
  box-shadow: -4px -4px #fff;
}/*# sourceMappingURL=main.css.map */